.carrossel {
  max-width: 1000px;        
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  background: #000;        
}

.slides {
  background-color: whitesmoke;
  display: flex;
  width: 500%;
  height: 100%;
  animation: slide 25s infinite;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;         
  border-radius: 20px;
}


@keyframes slide {
  0% { margin-left: 0; }
  16% { margin-left: 0; }

  20% { margin-left: -100%; }
  36% { margin-left: -100%; }

  40% { margin-left: -200%; }
  56% { margin-left: -200%; }

  60% { margin-left: -300%; }
  76% { margin-left: -300%; }

  80% { margin-left: -400%; }
  96% { margin-left: -400%; }

  100% { margin-left: 0; }
}
