*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
body{
    height: 100vh;
    width: calc(100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
div.principal{
    background-color: whitesmoke;
    box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.principal::-webkit-scrollbar {
    display: none;
}
header{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    margin-top: 15px;
}
img.perfil{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
img.logo:hover{
    cursor: pointer;
    transform: scale(1.15);
    transition: all 0.5s ease;
    box-shadow: 2px 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20%;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
main{
    min-height: 600px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.carrossel{
    width: 30%;
    height: 60%;
}
section{
    background-color: white;
    border-radius: 15px;
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.1);
}
section.sobreMim{
    border: 1px  #B0B0B0;
    width: 60%;
    height: 60%;
    margin-bottom: 15px;
    overflow-y: auto;
}
.sobreMim::-webkit-scrollbar {
  display: none; 
}
section#objetivo{
    margin-right: auto;
    margin-left: 5%;
    width: 90%;
    height: 30%;
    border: 1px  #B0B0B0;
}
section.experiencia{
    box-shadow: none;
    margin-right: auto;
    margin-left: 5%;
    margin-bottom: 20px;
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: whitesmoke;
    border: none;
}
section.secundaria{
    width: 300px;
}
h1,h3{
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 500;
    color: #1E1E1E;
}
h3{
    margin-top: 10px;
    margin-left: 25px;
}
p{
    font-family: 'Open Sans';
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.6;
    margin: 5px 10px 3px 8px;
}
a{
    color: inherit;
    text-decoration: none;
}
a.navegacao:hover{
    color: skyblue;
    transform: scale(1.15);
    transition: all 0.5s ease;
}
div.secundaria{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 200px;
    gap: 10px;
}